.section.hero {
  .hero-image img {
    width: 459px;
    height: 750px;
    object-fit: cover;

    // @media (min-width: 1400px) {
    //   img {
    //     max-width: 125%;
    //     float: right;
    //   }
    // }
  }
  .hero-title {
    strong {
      color: $danger;
    }
  }
  .btn:hover {
    color: $secondary-blue;
    background: $success;
    border-color: $success;
  }
}

@media (max-width: 1200px) {
  .section.hero .hero-image img {
    display: none;
  }
}
